h1 {
    text-align: center;
}

table, th, td {
    padding: 5px;
    border-collapse: collapse;
    font-size: larger;
}

th, td {
    border: 2px solid black;
}

th {
    background-color: black;
    color: white;
}